@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primery-font: 'Poppins', sans-serif;
    --secondary-font: 'Playfair Display', serif;
}


header{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.logo{
    line-height: 25px;
    font-family:var(--secondary-font);
}

.logo p{
    font-size: 12px;
}

.menu ul{
    display: flex;
   gap: 20px;
   margin-left: 100px;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font-family: var(--primery-font) ;
    font-size: 1rem;
    text-transform:uppercase;
    letter-spacing: 1px;
}

.menu .underline{
    border-bottom: 2px solid black; 
}

  
.bars span{
    background-color: black;
display: flex;
flex-direction: column;
margin: 5px;
height: 3px;
width: 30px;
}
.bars :hover{
    cursor: pointer;
}

.bars .second{
    margin-left: 10px;
}

.bars{
    display: none;
}

.section{
    width: 90%;
    margin: 100px 10px;
    display: flex;
    justify-content: space-evenly;
}

.column-left .contact h2{
font-family: var(--secondary-font);
font-size: 3.2rem;
font-weight: 200;
letter-spacing: 1px;
}

.column-left .contact p{
font-family: var(--primery-font);
font-size: 1.2rem;
letter-spacing: 1px;
padding-bottom: 29px;
}

.column-btns{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 20px;
}

.column-btns button{
    width: 210px;
    padding: 15px 4px;
    background-color: #F2F0DF;
    border: none;
    border-radius: 16px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--primery-font);
}

.column-btns button a{
    text-decoration: none;
}

.column-btns a{
    color: black;
    font-family: var(--primery-font);
}


.column-left .container{
     position: relative;
     margin-top: 20px;
}


.big-column{
    display: flex;
    margin-top: 40px;
    gap: 100px;
   margin: auto;
    justify-content: center;
padding: 50px 30px;
    background-color: white;
    box-shadow: 14px 10px 20px lightgray;
    border-radius: 19px;
    width: 499px;
    border: 1px solid black;
    font-family: var(--primery-font);
}

.big-column img{
width: 100px;
height: 100px;
position: absolute;
left: 0;
top: 0;
}


.column-right{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 40%;

}
.column-one{
    background-image: url("image/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
   display: flex;
   align-items: flex-end;
   transition: 2s;
 
}

.column-two{
    background-image: url("/image/Rectangle\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
   display: flex;
   align-items: flex-end;
   transition: 2s;
}

.column-three{
    background-image: url("/image/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
   display: flex;
   align-items: flex-end;
   transition: 2s;
}

.contact-columns{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
  margin: 10px 20px;
 

}

.contact-columns h1{
    font-family: var(--primery-font);
    font-size: 1rem;
}

.contact-columns p{
    font-family: var(--primery-font);
    font-size: 0.8rem;
}

.contact-columns .left{
    border-right: 1px solid lightgrey ;
    width: 135px;
}

.contact-columns .right p{
    font-family: var(--primery-font);
}

.column-one:hover{
transform: scale(1.1);
transition: 1s;
}

.column-two:hover{
transform: scale(1.1);
transition: 1s;
}

.column-three:hover{
transform: scale(1.1);
transition: 1s;
}

.show{
    display: none;
}

@media screen and (max-width: 1177px) {
    .column-left .contact p{
        font-size: 1rem;
        }
}

@media screen and (max-width: 1111px) {
    .section{
        width: 90%;
        gap: 30px;
    }

    .column-left .contact h2{
        font-size: 3rem;
        }
}

@media screen and (max-width:1077px) {
    .section{
        width: 84%;
    }
}

@media screen and (max-width:1035px) {
    .big-column{
    gap: 60px;
    padding: 30px 10px;
    margin: 10px ;
    width: 450px;
    }
    .column-left .contact h2{
        font-size: 2.3rem;
        }

        .column-left .contact p{
            font-size: 0.8rem;
            }
            .section{
                width: 80%;
            }
}

@media screen and (max-width:1000px) {
    .big-column{
        gap: 30px;
        padding: 30px 10px;
        justify-content: flex-start;
        margin: 1px ;
        width: 400px;
        }

        .big-column p{
font-size: 0.9rem;
        }
}

@media screen and (max-width:979px) {
    .section{
        width: 75%;
    }
}


@media screen and (max-width:940px) {
    .contact-columns h1{
        font-size: 0.7rem;
    }
    .contact-columns p{
        font-size: 0.6rem;
    }
    .column-right{
        gap: 10px;
    }

    .section{
        gap: 7px;
    }
    .column-btns .link-arrow{ 
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 895px) {
    .section{
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        justify-content: center;
        align-items: center;
    }

    .column-right{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        height: 100vh;
    }

    .big-column{
        gap: 30px;
        padding: 30px 50px;
        justify-content: flex-start;
        margin-bottom: 20px;
        width: 500px;
        }
        .column-left .contact h2{
            font-size: 2.9rem;
            }

            .column-left .contact p{
                font-size: 0.9rem;
                }
}

@media screen and (max-width:653px) {
    header{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .hidden{
        display: none;
    }

    .show{
        display: initial;
        position: relative;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        margin-left: 12px;
    }

    .bars{
        margin-right: 20px;
    }

    .menu{
        display: none;
    }
    .bars{
        display: initial;
    }

    .column-right{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        padding-bottom: 40px;
       
    }

        .section{
            width: 98%;
            margin: 20px auto;
            justify-content: center;  
        }

         .show{
            display: flex;
            gap: 50px;
         
        }
       }
    @media screen and (max-width:517px) {

     .section{
        margin-top: 20px;
     }
        .column-right{
            display: grid;
            grid-template-columns: repeat(1fr , 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            width: 90%;
            padding-bottom: 40px;
           
        }

        .column-one{
            grid-column: 1 /span 3 ;
            grid-row: 1 /  2;
            background-image: url("image/Rectangle\ 2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
        
        }

        .column-two{
            grid-column: 1 / span 3 ;
            grid-row: 2 / 3;
            background-image: url("/image/Rectangle\ 3.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
        }

        .column-three{
            grid-column: 1 / span 3;
            grid-row: 3 / 4;
            background-image: url("/image/Rectangle\ 4.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
        }
        .column-left .contact h2{
            font-size: 2.3rem;
            padding-bottom: 12px;
            }

            .column-left .contact p{
                font-size: 0.7rem;
                }
    
                .show{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .show button{
                    width: 240px;
                }

                .show .link-arrow{
                    font-size: 1rem;
                }
    
                .big-column{
                    display: flex;
                    flex-direction: column;
                    width: 98%;
                    gap: 6px;
                }

                .show .big-column :first-child{
                    text-align: center;
                    font-size: 19px;
                }
                .contact-columns h1{
                    font-size: 0.9rem;
                }
                .contact-columns p{
                    font-size: 0.7rem;
                }
                .column-right p{
                font-size: 14px;
                }
    
            }

